<div class="container col-lg-6">
    <h1 *ngIf="editMode">Edit Occassion #{{id}}</h1>
    <h1 *ngIf="!editMode">Add Occasssion</h1>
    <form [formGroup]="occassionForm" (ngSubmit)="onSubmit(occassionform)" #occassionform="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input required formControlName="name" style="background-color: aliceblue;" type="text" class="form-control" id="name" [maxLength]="25" name="name" #name>
            <span class="help-block" style="font-size: small;" *ngIf="occassionForm.controls['name'].invalid && occassionForm.controls['name'].touched">Please enter the name of the person related to the occassion</span>
        </div>
        
        <div class="form-group">
            <label for="occassiondate">Ocassion Date</label>
            <input required formControlName="occassiondate" style="background-color: aliceblue;"  type="date" class="form-control" id="occassiondate" name="occassiondate" #occassiondate>
            <span class="help-block" style="font-size: small;" *ngIf="occassionForm.controls['occassiondate'].invalid && occassionForm.controls['occassiondate'].touched">Please enter the date of the occassion</span>
        </div>
        
        <div class="form-group">
            <label for="occassiontype">Occassion Type</label>
            <select required formControlName="occassiontype" style="background-color: aliceblue;" name="occassiontype"  class="form-control form-select"  id="occassiontype" #occassiontype>
            <option *ngFor="let occassiontype of occassiontypes" [value]="occassiontype">{{occassiontype}}</option>
            </select>
            <span style="font-size: small;" class="help-block" *ngIf="occassionForm.controls['occassiontype'].invalid && occassionForm.controls['occassiontype'].touched ">Please pick the occassion type</span>
        </div> 
        <div class="form-group">
            <label for="offset">Reminder Offset</label>
            <select required formControlName="offset" style="background-color: aliceblue;" name="offset" class="form-control form-select"  id="offset" #offset>
            <option *ngFor="let offset of offsets" [value]="offset">{{offset}}</option>
            </select>
            <span class="help-block" style="font-size: small;" *ngIf="occassionForm.controls['offset'].invalid && occassionForm.controls['offset'].touched" >Please pick the reminder offset</span>
        </div> 
        <div class="form-check">
            <input formControlName="reminder" style="background-color: lightskyblue;" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="reminder" #reminder>
            <label class="form-check-label" for="flexCheckChecked">
             Remind me
            </label>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!occassionform.valid">{{editMode ? 'Update': 'Add'}}</button>
          <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </form>
</div>