<div class="row justify-content-center">
    <div style="padding-top: 100px;" class="col-md-6">
    <div class="card">
    <header class="card-header">
        <h4 class="card-title mt-2">Login</h4>
    </header>
    <article class="card-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label>Email address</label>
            <input ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" name="email" class="form-control" placeholder="Enter your email" required #email="ngModel">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required" class="text-danger">Primary email is required</small>
                <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
              </div>
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <label>Enter password</label>
            <input ngModel class="form-control" name="password" type="password" placeholder="Enter a password" required #password="ngModel">
            <div *ngIf="(password.invalid && password.touched) || password.dirty">
                <small class="text-danger" *ngIf="password.errors?.required">Please enter your first name</small>
              </div>
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" *ngIf="!f.valid">Login</button>
        </div> <!-- form-group// -->                                             
    </form>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center">Dont't have an account?<button (click)="register()" class="btn btn-link">Register</button></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    